# General
.venv
__pycache__/
*.pyc

# Tests
**/tests/
**/tests/**/*

# Others
.flake8
.gitignore
LICENSE
pyproject.toml
README.md
pytest.ini
requirements.txt
Taskfile.yml

# env
.env*

# Workflows
**/github/workflows/
